<!DOCTYPE html>
<html lang="es">
<head>
  <title>Weather App</title>
  <%- include('partials/meta.html') %>

  <meta name="description" content="Weather App - Busca tu ciudad y averigua cúal es el clima actual de ti ciudad de una manera muy sencilla." />
  <meta name="author" content="Andres Parra Garzón" />
  <meta name="keywords" content="clima, weather, lluvia, nieve, nevada, nubes, nublado, cielo despejado, clima de mi ciudad." />
</head>
<body class="home-bg">
  <%- include('partials/header.html') %>
  <%- include('partials/search.html') %>
  <%- include('partials/comment.html') %>
  <%- include('partials/footer.html') %>
  <script src="/js/search.js"></script>
</body>
</html>