<section class="comment">
	<article class="bg-dark comment-content" id="comment-content">
		<h4>😁 Ayudame con tu opinión</h4>
		<p class="comment-description">¿ Qué te parece esta aplicación  ? Dejame tu valoración y tu opinión de que te parece la app.</p>

		<div class="comment-stars">
			<span class="fas fa-star" data-value="1"></span>	
			<span class="fas fa-star" data-value="2"></span>	
			<span class="fas fa-star" data-value="3"></span>	
			<span class="fas fa-star" data-value="4"></span>	
			<span class="fas fa-star" data-value="5"></span>	
		</div>	

		<form class="comment-form" id="comment-form">
			<textarea placeholder="Deja tu comentario aquí ..." class="form-control mb-4" name="comment" id="comment-input"></textarea>
			<button type="submit" class="btn btn-success">Enviar comentario</button>
		</form>
	</article>

	<div class="icon-comment" id="icon-comment"><span class="fas fa-comment"></span></div>
</section>