<section class="mb-4 container d-flex justify-content-center align-items-center flex-column search text-center">
  <article class="my-weather text-center" id="my-weather"></article>

  <h2 class="search-title fs-1 mb-4">Busca tu ciudad</h2>
  <form id="search-form">
    <input type="text" autofocus class="animate__animated animate__pulse form-control mb-2" placeholder="🔎 Escribe tu ciudad aquí ..." title="Escribe el nombre de tu ciudad" />
    <input type="submit" class="btn btn-primary" value="Buscar" />
  </form>
</section>